############################################################
# Repository Owner: @mrmikestone92
# (do not remove yourself from the .github/CODEOWNERS line!)
#
# Riskalyze codeowners conventions:
# https://app.getguru.com/card/eio7y4Xi/Per-Repo-PR-Approver-Management
############################################################

*                     @riskalyze/qa
.github/CODEOWNERS    @riskalyze/codeowners-approvers
